GROQ_API_KEY=
RAG_GENERATION_MODE=extractive
RAG_GROQ_MODEL=llama-3.3-70b-versatile
RAG_TOP_K=8
RAG_MIN_RELEVANCE=0.35
RAG_MIN_CHUNK_LEXICAL_OVERLAP=0.12
RAG_MIN_SEGMENT_SCORE=0.23
RAG_MIN_GROUNDED_SIMILARITY=0.65
RAG_MIN_GROUNDED_TOKEN_OVERLAP=0.58
RAG_ANSWER_MAX_WORDS=65
HF_LOCAL_FILES_ONLY=1
RAG_FILTER_EXERCISE_CHUNKS=1
RAG_ROUTER_MODE=heuristic
RAG_ROUTER_LLM_ENABLED=0
RAG_MODEL_ROUTING_ENABLED=0
RAG_SIMPLE_MODEL=llama-3.1-8b-instant
RAG_COMPLEX_MODEL=llama-3.3-70b-versatile
RAG_CONFIDENCE_ANSWER_THRESHOLD=0.48
RAG_CONFIDENCE_CLARIFY_THRESHOLD=0.34
RAG_LOW_CONFIDENCE_SUPPORT_THRESHOLD=0.66
